@{
    Layout = "~/Views/Shared/comp.cshtml";

}


<div class="container d-flex justify-content-end">

</div>
<div class="container text-center">
    <p class="fs-2">¡Hola, @Session["UsernameCompra"]!</p>
    <h2>¿Qué producto deseas adquirir hoy?</h2>
</div>
<div class="container text-center mt-4">
    <img class="animate__animated  animate__flash animate__infinite	infinite" width="250" src="~/assets/images/bateria.jpeg"/>
</div>




